<div class="container">
  <div class="blank"></div>
  
  <div class="header-left">
    <p class="name">Chedda Laflare</p>
  </div>

  <div class="header-right">
    <a href="#" class="header-link">Music</a>
    <a href="#" class="header-link">Videos</a>
    <a href="#" class="header-link">Merch</a>
    <a href="#" class="header-link">Contact</a>

    <a href="#" class="header-link">i</a>
    <a href="#" class="header-link">t</a>
  </div>

  <div class="header-right-mobile">
    <a href="#" class="header-link">Menu</a>
  </div>
</div>
