<div class="container">
  <div class="hero-left">
    <div class="text">
      <p>Music video out now</p>
      <h1 class="hero-h1">LITERALLY</h1>
      <p>Available on all platforms</p>
    </div>

    <a
      href="https://www.youtube.com/watch?v=BQ8xE9HVM3Q"
      class="hero-video-link"
    >
      <img src="assets/thumbnail.png" alt="" class="hero-thumbnail"
    /></a>

    <div class="hero-links">
      <button mat-button (click)="openDialog()" class="hero-link">
        STREAM/DOWNLOAD
      </button>
      <img src="assets/arrow-down.gif" alt="" class="arrow" />
    </div>
  </div>
</div>
