<div class="container" id="music">
  <h3>RELEASES</h3>

  <div class="card-holder">
    <app-song-card
      title="Need a DD"
      link="https://www.youtube.com/watch?v=gXAIMahu-5Y"
    ></app-song-card>
    <app-song-card
      title="Voodoo Doll"
      link="https://www.youtube.com/watch?v=x5Q7KsrL-DA"
    ></app-song-card>
    <app-song-card
      title="Colors"
      link="https://www.youtube.com/watch?v=boOiAfDPG1c"
    ></app-song-card>
    <app-song-card
      title="Onna Plane"
      link="https://www.youtube.com/watch?v=gvbCZ-EJ5pM"
    ></app-song-card>
  </div>
</div>
