<div class="container">
  <!-- SPOTIFY CARD -->
  <p class="title">SPOTIFY</p>
  <div class="stream-card">
    <div class="stream-card-left">
      <img src="assets/spotify.png" alt="" class="stream-logo" />
    </div>
    <div class="stream-card-right">
      <a
        href="https://open.spotify.com/artist/3Vi8YGjYgdtYQtkrAAdyQR"
        target="_blank"
        class="stream-link"
        >STREAM</a
      >
    </div>
  </div>

  <!-- APPLE MUSIC CARD -->
  <p class="title">APPLE MUSIC</p>
  <div class="stream-card">
    <div class="stream-card-left">
      <img src="assets/apple.png" alt="" class="stream-logo" />
    </div>
    <div class="stream-card-right">
      <a
        href="https://music.apple.com/ug/artist/chedda-laflare/1509432601"
        target="_blank"
        class="stream-link"
        >STREAM</a
      >
    </div>
  </div>

  <!-- YOUTUBE CARD -->
  <p class="title">YOUTUBE</p>
  <div class="stream-card">
    <div class="stream-card-left">
      <img src="assets/youtube.webp" alt="" class="stream-logo" />
    </div>
    <div class="stream-card-right">
      <a
        href="https://www.youtube.com/results?search_query=chedda+laflare"
        target="_blank"
        class="stream-link"
        >STREAM</a
      >
    </div>
  </div>
</div>
